<table style="width:100%">
    <thead>
        <tr>
            <th style="text-align:center">Project</th>
            <th style="text-align:center">Tag</th>
            <th style="text-align:center">Pushed At</th>
        </tr>
    </thead>
    <tbody>
        {{ range .Site.Data.results.images }}
        <tr>
            <td style="text-align:left">{{ .repo }}</td>
            <td style="text-align:left">
                <a href="{{ .htmlUrl }}">{{ .tag }}</a>
            </td>
            <td style="text-align:center">{{ .pushedAt }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>